<a href="https://colab.research.google.com/github/rohangrge/Machine-Learning-with-Spark-Streaming/blob/branch1/BD_corr_check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
from scipy.stats import chisquare

In [2]:
df = pd.read_csv("train.csv")

In [7]:
df.head

<bound method NDFrame.head of                                                Subject  ... Spam/Ham
0                                   transfers from ees  ...     spam
1                            fw : re ivanhoe e . s . d  ...     spam
2                re : enerfin meter 980439 for 10 / 00  ...      ham
3                                    meoh plant status  ...      ham
4                                      re : tenaska iv  ...     spam
...                                                ...  ...      ...
30339                        fw : re ivanhoe e . s . d  ...     spam
30340                                        wellheads  ...      ham
30341                                    re : releases  ...     spam
30342  start date : 2 / 6 / 02 ; hourahead hour : 24 ;  ...     spam
30343                                    re : releases  ...     spam

[30344 rows x 3 columns]>

In [8]:
df.columns

Index(['Subject', 'Message', 'Spam/Ham'], dtype='object')

In [11]:
df=df.apply(lambda x : pd.factorize(x)[0])+1

pd.DataFrame([chisquare(df[x].values,f_exp=df.values.T,axis=1)[0] for x in df])

/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:5745: RuntimeWarning: divide by zero encountered in true_divide
  terms = (f_obs - f_exp)**2 / f_exp
/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:5745: RuntimeWarning: invalid value encountered in true_divide
  terms = (f_obs - f_exp)**2 / f_exp

              0    1             2
0  0.000000e+00  inf  2.912252e+11
1  1.411198e+09  NaN  4.943778e+11
2  7.726082e+07  inf  0.000000e+00

In [12]:
df.apply(lambda x : pd.factorize(x)[0]).corr(method='pearson', min_periods=1)

           Subject   Message  Spam/Ham
Subject   1.000000  0.899952  0.725441
Message   0.899952  1.000000  0.769825
Spam/Ham  0.725441  0.769825  1.000000