<a href="https://colab.research.google.com/github/rohangrge/Machine-Learning-with-Spark-Streaming/blob/branch1/BD_corr_check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
import pandas as pd
from scipy.stats import chisquare
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize 
nltk.download('punkt')
!pip install hashable_df
from hashable_df import hashable_df
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer(lowercase=False)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
Collecting hashable_df
  Downloading hashable_df-0.0.6-py2.py3-none-any.whl (2.8 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from hashable_df) (1.19.5)
Collecting autohash
  Downloading autohash-0.0.1-py2.py3-none-any.whl (4.1 kB)
Installing collected packages: autohash, hashable-df
Successfully installed autohash-0.0.1 hashable-df-0.0.6

In [27]:
df = pd.read_csv("train.csv")

In [28]:
df.head

<bound method NDFrame.head of                                                Subject  ... Spam/Ham
0                                   transfers from ees  ...     spam
1                            fw : re ivanhoe e . s . d  ...     spam
2                re : enerfin meter 980439 for 10 / 00  ...      ham
3                                    meoh plant status  ...      ham
4                                      re : tenaska iv  ...     spam
...                                                ...  ...      ...
30339                        fw : re ivanhoe e . s . d  ...     spam
30340                                        wellheads  ...      ham
30341                                    re : releases  ...     spam
30342  start date : 2 / 6 / 02 ; hourahead hour : 24 ;  ...     spam
30343                                    re : releases  ...     spam

[30344 rows x 3 columns]>

In [29]:
df.columns

Index(['Subject', 'Message', 'Spam/Ham'], dtype='object')

In [30]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","â€“"]
for char in spec_chars:
    df['Message'] = df['Message'].str.replace(char, ' ')
    df['Subject'] = df['Subject'].str.replace(char, ' ')
df['Message'] = df['Message'].str.split().str.join(" ")
df['Subject'] = df['Subject'].str.split().str.join(" ")

In [31]:
df['Subject_tokenized'] = df['Subject'].apply(word_tokenize)
df['Message_tokenized'] = df['Message'].apply(lambda sentence: nltk.word_tokenize(str(sentence)))

In [32]:
df.head()

                             Subject  ...                                  Message_tokenized
0                 transfers from ees  ...  [attached, is, the, latest, version, of, the, ...
1                fw re ivanhoe e s d  ...  [fyi, kim, original, message, from, frazier, p...
2  re enerfin meter 980439 for 10 00  ...  [it, did, but, tetco, prorated, the, flow, bet...
3                  meoh plant status  ...  [the, methanol, plant, has, determined, extens...
4                      re tenaska iv  ...  [i, tried, calling, you, this, am, but, your, ...

[5 rows x 5 columns]

In [48]:
df["Subject_tfidf"] = v.fit_transform(df['Subject_tokenized'].astype('U').values)
df["Message_tfidf"] = v.fit_transform(df['Message_tokenized'].astype('U').values)

In [51]:
df.head()

                             Subject  ...                                      Message_tfidf
0                 transfers from ees  ...    (0, 55967)\t0.08907587912053541\n  (0, 52674...
1                fw re ivanhoe e s d  ...    (0, 55967)\t0.08907587912053541\n  (0, 52674...
2  re enerfin meter 980439 for 10 00  ...    (0, 55967)\t0.08907587912053541\n  (0, 52674...
3                  meoh plant status  ...    (0, 55967)\t0.08907587912053541\n  (0, 52674...
4                      re tenaska iv  ...    (0, 55967)\t0.08907587912053541\n  (0, 52674...

[5 rows x 7 columns]

In [69]:
df.dtypes

Subject              object
Message              object
Spam/Ham             object
Subject_tokenized    object
Message_tokenized    object
Subject_tfidf        object
Message_tfidf        object
dtype: object

In [71]:
df1 = df.apply(lambda x: tuple(x) if type(x)!= str else tuple([x]))
df1.apply(lambda x : pd.factorize(x)[0]).corr(method='pearson', min_periods=1)

TypeError: ignored

In [64]:
df=df.apply(lambda x : pd.factorize(x)[0])+1

pd.DataFrame([chisquare(df[x].values,f_exp=df.values.T,axis=1)[0] for x in df])

Empty DataFrame
Columns: []
Index: []